obj/*
prog/obj/*
latex/*
test*
html/*
gInterpreter.cpp
perf.data
perf*
data/*
*.data
app*
*~
*.swp
*.swo
src/*~
src/*.swp
src/*.swo
include/*~
include/*.swp
include/*.swo
prog/*~
prog/*.swp
prog/*.swo



